html {
  font-size: 62.5%; }

header {
  background: #f9f8f6; }
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px; }
  header .pc_navi {
    text-align: right; }
  @media (max-width: 640px) {
    header .logo {
      text-align: center; }
    header .navi {
      float: left;
      text-align: center; } }
  header .sp_navi_li {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none; }
    header .sp_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .sp_navi_li li a {
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none; }
  @media (min-width: 640px) {
    header .sp_navi {
      display: none; }
    header #header_in {
      padding: 15px 0 10px 0; }
    header .pc_navi_li::after {
      content: '';
      display: block;
      clear: both; }
    header .pc_navi_li {
      margin: 0;
      padding: 0;
      display: inline-block; }
      header .pc_navi_li li {
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0;
        float: left; }
        header .pc_navi_li li a {
          text-decoration: none;
          padding-right: 10px; } }
  @media (max-width: 640px) {
    header .pc_navi {
      display: none; } }

main {
  background-color: #f9f8f6; }

#eyecatch {
  padding-top: 20px; }

section {
  padding-top: 20px; }

#new_items {
  padding-top: 0px; }

.item-logo {
  text-align: center; }

#new_items .new_items_in {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#new_items .items-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 33%;
  padding: 10px;
  background-color: #FFFFFF;
  margin-bottom: 5px; }

#new_items .items-box img {
  max-width: 100%; }

#new_items .items-box p {
  margin-bottom: 0px; }

@media (max-width: 640px) {
  #new_items .items-box {
    width: 48%; } }
#popular_items .popular_items_in {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#popular_items .items-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 33%;
  padding: 10px;
  background-color: #FFFFFF;
  margin-bottom: 5px; }

#popular_items .items-box img {
  max-width: 100%; }

#popular_items .items-box p {
  margin-bottom: 0px; }

@media (max-width: 640px) {
  #popular_items .items-box {
    width: 45%; } }
#popular_items
#guide {
  background-color: #f9f8f6; }

#guide .sp-logo {
  text-align: center; }

#guide .guide_in {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }

#guide .guide-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 10px;
  padding: 10px;
  width: 50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF; }

@media (max-width: 640px) {
  #guide .guide_in {
    display: block; }

  #guide .guide-box {
    width: 100%;
    margin: 0px; } }
#guide .guide-box img {
  max-width: 100%; }

.guide-box li {
  list-style: none; }

.guide-box li p {
  color: #887f69;
  font-weight: bold; }

#search {
  background-color: #f9f8f6; }

#search {
  display: -webkit-flex;
  display: flex; }

#search .search-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1;
  flex: 1;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 10px; }

.search_in {
  background-color: #eeeeee;
  padding: 5px; }

.search_icon {
  float: right;
  padding-top: 3px;
  padding-right: 3px; }

#page_link .page_link_in {
  background-color: #887f69;
  padding: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: bold; }

#page_link .page_link_in .next_icon {
  float: right;
  padding-top: 2px; }

#categories .categories_in {
  background-color: #887f69;
  padding: 10px;
  color: #FFFFFF;
  font-weight: bold; }

#categories .categories_in .down_icon {
  float: right;
  padding-top: 2px; }

#categories .categories_menu {
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 3px; }

#categories .categories_menu img {
  float: right;
  padding-top: 5px; }

#about .about_logo {
  background-color: #887f69;
  padding: 10px;
  margin-top: 10px;
  color: #FFFFFF;
  font-weight: bold; }

#about .about_in {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px; }

#about .about_in img {
  max-width: 100%; }

@media (max-width: 640px) {
  #about .about_in {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }

  #about .about_in img {
    padding-right: 10px;
    padding-bottom: 10px; } }
#info .info_logo {
  background-color: #887f69;
  padding: 10px;
  margin-top: 10px;
  color: #FFFFFF;
  font-weight: bold; }

#info .info_in {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px; }

#info .info_in img {
  max-width: 100%;
  padding-right: 10px;
  padding-bottom: 10px; }

@media (max-width: 640px) {
  #info .info_in {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }

  #info #info .info_in img {
    padding-right: 10px;
    padding-bottom: 10px; } }
footer {
  background-color: #f9f8f6; }

#footer_box .pagetop {
  text-align: right;
  border-bottom: 2px solid #887f69;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

@media (max-width: 640px) {
  #footer_box .pagetop {
    text-align: center; } }
#footer_box .foot_menu, .copyright {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px; }

#footer_box .copyright {
  color: #887f69;
  font-size: 0.5em; }

@media (max-width: 640px) {
  .pc-logo {
    display: none; } }
@media (min-width: 640px) {
  .sp-logo {
    display: none; } }
#list {
  padding-right: 0px;
  padding-left: 0px; }

#main_in .pankuzu img {
  margin-right: 10px; }

#main_in .pankuzu {
  background-color: #e8e4da;
  color: #887f69;
  font-size: 0.7em;
  margin-top: 20px;
  padding: 10px; }

#main_in .cate_image img {
  padding-top: 20px; }

#list .list_in {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#list .items-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 33%;
  padding: 10px;
  background-color: #FFFFFF;
  margin-bottom: 5px; }

#list .items-box img {
  max-width: 100%; }

@media (max-width: 640px) {
  #list .items-box {
    width: 48%; } }
#itembtn {
  padding-top: 20px;
  padding-bottom: 20px; }

#itembtn .back_btn {
  background: #887f69;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  color: #FFF;
  font-weight: bold; }

#itembtn .next_btn {
  background: #887f69;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  color: #FFF;
  font-weight: bold; }

#recent {
  margin-top: 30px;
  padding: 0px; }

.pc_title_recent {
  text-align: center;
  max-width: 100%; }

.sp_title_recent {
  text-align: center; }

@media (max-width: 640px) {
  .pc_title_recent {
    display: none; } }
@media (min-width: 640px) {
  .sp_title_recent {
    display: none; } }
#recent .recent_items {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#recent .items-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 33%;
  padding: 10px;
  background-color: #FFFFFF;
  margin-bottom: 5px; }

#recent .items-box img {
  max-width: 100%; }

@media (max-width: 640px) {
  #recent .items-box {
    width: 48%; } }
#search {
  margin-top: 20px; }

@media (max-width: 640px) {
  #search {
    margin-top: 0px; } }
#slideshow {
  background: #FFFFFF; }

@media (max-width: 640px) {
  #slideshow {
    padding-right: 10px;
    padding-left: 10px; } }
@media (min-width: 640px) {
  #slideshow {
    margin-top: 10px;
    padding-right: 60px;
    padding-left: 60px; } }
#slideshow .slideshow_name {
  border-bottom: 1px  solid #e2ddd4;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900; }

#slideshow .number {
  font-weight: 400;
  color: #e2ddd4; }

@media (min-width: 640px) {
  #slideshow .number {
    float: right; } }
@media (min-width: 640px) {
  #slideshow-area {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; } }
#slideshow_display img {
  width: 100%; }

@media (min-width: 640px) {
  #slideshow_display img {
    margin-right: 10px; } }
#slideshow_list {
  margin-bottom: 0; }

#slideshow_list li {
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
  width: 18.8%; }

@media (min-width: 640px) {
  #slideshow_list li {
    width: 48%; }

  #slideshow_list {
    width: 27.5%;
    margin-left: 10px; } }
#slideshow_list li img {
  width: 100%;
  cursor: pointer; }

#slideshow .slideshow_in {
  border-top: 1px solid #e2ddd4;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

table.color {
  width: 100%;
  border-top: 1px solid #e2ddd4;
  border-left: 1px solid #e2ddd4;
  border-spacing: 0;
  margin-bottom: 0; }

table.color tr th, table.color tr td {
  font-size: 10px;
  border-bottom: 1px solid #e2ddd4;
  border-right: 1px solid #e2ddd4;
  padding: 10px;
  text-align: center;
  color: #887f69; }

table.color tr th {
  background: #f9f9f5; }

#price_quantity_add {
  background: #FFFFFF; }

@media (min-width: 640px) {
  #price_quantity_add {
    border-bottom: 1px solid #e2ddd4; } }
#price_quantity_add .add {
  margin-top: 20px; }

#price_quantity_add .add img {
  max-width: 100%; }

@media (max-width: 640px) {
  .add {
    text-align: center; } }
@media (min-width: 640px) {
  .add {
    width: 45%;
    margin-top: 20px; } }
@media (min-width: 640px) {
  .add img {
    width: 100%; } }
.price {
  margin-top: 20px;
  border-bottom: 1px solid #e2ddd4;
  border-top: 1px solid #e2ddd4;
  padding-top: 10px;
  padding-bottom: 10px; }

.quantity {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }

.quantity img {
  align-self: center;
  padding-left: 0; }

.quantity_in {
  border: 1px solid #e2ddd4;
  width: 150px;
  height: 40px; }

@media (max-width: 640px) {
  .quantity {
    border-bottom: 1px solid #e2ddd4; } }
.price_li {
  padding-right: 50px; }

.price img {
  padding-right: 50px; }

.price_li li {
  display: inline-block;
  list-style: none;
  margin-bottom: 0px; }

@media (min-width: 640px) {
  #srideshow_bottom {
    border-bottom: 1px solid #e2ddd4; } }
@media (min-width: 640px) {
  #price_quantity {
    width: 50%; } }
@media (min-width: 640px) {
  #price_quantity_add {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }
#caption {
  padding-bottom: 60px; }

#caption .caption_title {
  border-bottom: 1px solid #887f69;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #887f69;
  font-weight: bold; }

#caption .caption_text span {
  display: block;
  color: #887f69;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px; }

table.color2 {
  width: 100%;
  border-top: 1px solid #e2ddd4;
  border-left: 1px solid #e2ddd4;
  border-spacing: 0;
  margin-bottom: 0; }

table.color2 tr th, table.color2 tr td {
  font-size: 10px;
  border-bottom: 1px solid #e2ddd4;
  border-right: 1px solid #e2ddd4;
  padding: 10px;
  text-align: center;
  color: #887f69; }

table.color2 tr th {
  background: #f9f9f5; }

/*# sourceMappingURL=index.css.map */
